<nav class="navbar navbar-expand-lg sticky-top navbar-vintage">
  <div class="overlay" [class.show]="!isMenuCollapsed()" (click)="toggleMenu()"></div>
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="bi bi-journal-richtext me-2"></i>Bibliothèque de Blagnac
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="!isMenuCollapsed()" id="navbarNav">
      <button class="btn-close btn-close-white d-lg-none mb-4" (click)="toggleMenu()"></button>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/catalogue" routerLinkActive="active">
            Catalogue
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auteurs" routerLinkActive="active">
            Auteurs
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        @if (authService.isLoggedIn()) {
          @if (authService.userRoles().includes('ROLE_RESPONSABLE') || authService.userRoles().includes('ROLE_BIBLIOTHECAIRE')) {
            <li class="nav-item">
              <a class="nav-link" href="https://127.0.0.1:8000/admin" target="_blank">
                <i class="bi bi-speedometer2 me-1"></i>Administration
              </a>
            </li>
          }
          <li class="nav-item">
            <a class="nav-link" routerLink="/mon-espace" routerLinkActive="active">
              <i class="bi bi-book me-1"></i>Espace Adhérent
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mon-profil" routerLinkActive="active">
              <i class="bi bi-person-circle me-1"></i>Profil
            </a>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-cream btn-sm ms-2 mt-1" (click)="authService.logout()">
              Déconnexion
            </button>
          </li>
        } @else {
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">
              <i class="bi bi-door-open me-1"></i>Connexion
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
